body {
    position: fixed;
    height: 92%;
    width: 94%;
    background-color: var(--color-white2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 3vw;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 0 5px var(--color-blck);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

#box-back {
    flex: 1;
    display: flex;
    margin-inline: 1vw;
    margin-top: 2vh;
}

a {
    transition: all 0.2s;
    border-left: solid 10px var(--color-white);
    padding: 2px;
}

a:hover {
    border-left: solid 2px var(--color-white);
    font-weight: bold;
}

#box-sections {
    flex: 25;
    margin-inline: 2vw;
    margin-bottom: 4vh;
    display: flex;
}

section {
    flex: 1;
    height: 100%;
    margin-inline: 1vw;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3 {
    margin: 1vw 1vh;
    padding: 1vw 1vh;
    width: 80%;
    text-align: center;
    border-bottom: solid 1px var(--color-main);
}

section div {
    display: flex;
}

#section-resources {
    background-color: var(--color-white3);
    box-shadow: 0 0 3px var(--color-blck);
}

/*Table*/
table {
    display: block;
    flex: 4;
    border-collapse: collapse;
    max-block-size: 300px;
    overflow: auto;
}

thead {
    position: sticky;
    top: 0px;
}

    /*séparateur entre en-tete et body de la table*/
tbody:before {
    content: "@";
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}

thead tr {
    background-color: var(--color-main);
    color: var(--color-white);
}

tbody tr {
    background-color: var(--color-white2);
}

tr:not(:last-child()) {
    margin-bottom: 10px;
}

th, td {
    padding-block: 8px;
    padding-inline: 12px;
    text-align: left;
    line-height: 1.5;
}

th {
    width: auto;
}

th:first-child, td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding-left: 25px;
}

th:last-child, td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding-inline: 18px;
}

td {
    width: 1%;
    white-space: nowrap;
}

td form input[type='submit'] {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

td form input[type='submit']:hover {
    background-color: var(--color-white2);
    color: var(--color-main);
}

.tr-state-inactive .td-state {
    color: darkblue;
}

.tr-state-active .td-state {
    color: darkgreen;
}

.tr-state-unsold .td-state {
    color: darkorange;
}

.tr-state-solded .td-state {
    color: darkred;
}

/*New borrow*/
#section-resources form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
}

#section-resources form div {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color-blck);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    width: 100%;
}

#section-resources form div input, #section-resources form div select {
    padding: 5px;
    width: 60%;
}

#section-resources form input[type='submit'] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--color-main);
    border-radius: var(--border-radius);
    background-color: var(--color-main);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#section-resources form input[type='submit']:hover {
    background-color: var(--color-white2);
    color: var(--color-main);
}