body {
    background-color: var(--color-white2);
}

/*Navigation bar*/
nav {
    position: fixed;
    left: 0;
    width: 15vw;
    height: 100vh;
    z-index: 10;
    padding-inline: 1vw;
    padding-block: 2vh;
    background-color: var(--color-white);
    box-shadow: 0px 0px 3px var(--color-blck);
}

nav > a {
    padding: 5px;
    font-weight: normal;
    transition: all 0.2s;
}

nav > a:hover {
    font-weight: bold;
}

nav > p {
    font-size: x-large;
    margin-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid var(--color-blck);
    margin-bottom: 5vh;
}

nav ul {
    width: 100%;
}

nav ul li p {
    font-size: large;
    margin: 5px;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

nav ul li ul li {
    width: 100%;
    margin: 3px;
    margin-left: 10px;
    color: var(--color-main);
    border-left: 1px solid var(--color-white);
    transition: all 0.2s;
}

nav ul li ul li a, nav ul li ul li button {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}

nav ul li ul li:hover {
    border-left: 1px solid var(--color-main);
}


/*Main*/
main {
    position: fixed;
    right: 0;
    width: 83vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-stats {
    display: flex;
    flex-direction: column;
}

#section-stats article {
    margin-block: 5%;
    padding: 3%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 3px var(--color-main);
}

#section-stats article h2 {
    padding-bottom: 10px;
    border-bottom: solid 1px var(--color-main);
}

/*Tables*/
table {
    min-width: 250px;
    margin: 20px;
    border-collapse: collapse;
    display: block;
    height: calc(22px*4);
    overflow: auto;
}

tbody {
    display: block;
    width: 100%;
}

tr {
    display: flex;
    width: 100%;
}

td {
    padding: 5px 8px;
    flex: 1;
}

#article-top tr {
    margin: 3px 0;
    border-radius: 4px;
}

#article-top td {
    color: var(--color-white);
    padding: 3px 12px;
}

#td-top-1 {
    background-color: #E9BC08;
}

#td-top-2 {
    background-color: gray;
}

#td-top-3 {
    background-color: #7C3D12;
}

#tables-stock {
    display: flex;
    width: 100%;
    align-items: center;
}

#tables-stock table {
    flex: 1;
}

#td-in-stock {
    color: green;
}

#td-out-stock {
    color: red;
}


/*Popups*/
.popup {
    background-color: rgba(200, 200, 200, 0.50);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: all 0.5s ease-in-out;
}

.popup.show {
    display: flex;
}

.popup form {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px grey;
    background-color: var(--color-white);
    min-width: 400px;
    max-width: 580px;
}

.popup form h2 {
    margin-block: 5%;
    color: var(--color-main-darker);
}

.popup form input, .popup form select {
    box-sizing: content-box;
    width: 75%;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid var(--color-main-darker);
    padding: 10px;
    margin: 1% 0;
    color: var(--color-main-darker);
}

.popup form input[type='submit'] {
    text-transform: capitalize;
    background-color: var(--color-main-darker);
    color: var(--color-white);
    margin: 0;
    margin-block: 5%;
    transition: 0.2s;
}

.popup form input[type='submit']:hover {
    transition: 0.2s;
    background-color: var(--color-main3);
    color: var(--color-main-darker);
    cursor: pointer;
}

.button-close-popup {
    color: var(--color-main-darker);
    margin-bottom: 40px;
}

.button-close-popup:hover {
    text-decoration: underline;
    cursor: pointer;
}