body {
    background-color: var(--color-main-darker);
    color: var(--color-white);
}

/* Header*/
header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

#list-nav {
    display: flex;
    flex: 12;
    justify-content: flex-start;
    padding: 0 5%;
}

.link {
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    padding: 10px;
    border-bottom: solid var(--color-main-darker) 2px;
    margin: 0 15px;
}

.link:hover {
    transition: 0.2s;
    border-bottom: solid var(--color-white) 2px;
}

#img-user {
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 7px;
    margin-right: 90px;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid var(--color-main-darker);
}

#img-user:hover {
    transition: 0.2s;
    border: 1px solid var(--color-white);
}

/*Login Menu*/
#li-list-menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 6;
    top: 65px;
    right: 3%;
    background-color: var(--color-white);
    min-width: 140px;
}

#li-list-menu li {
    width: 100%;
    text-align: center;
    display: flex;
    border: 1px solid var(--color-white);
}

#li-list-menu a {
    padding: 15px 0;
    width: 100%;
    transition: 0.2s;
    color: var(--color-main-darker);
    background-color: var(--color-white);
}

#li-list-menu a:hover {
    transition: 0.2s;
    color: var(--color-white);
    background-color: var(--color-main-darker);
    cursor: pointer;
}

#li-list-menu ul li:nth-last-child() a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Main - Sections*/
main {
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

#section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-main h1 {
    margin-bottom: 10px;
}

/*Login Box*/
#box-login {
    background-color: rgba(200, 200, 200, 0.50);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: all 0.5s ease-in-out;
    opacity: 0.0;
}

#box-login.show {
    opacity: 1.0;
    display: flex;
}

#box-login form {
    height: 60%;
    width: 30%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px grey;
    background-color: var(--color-white);
    min-width: 400px;
    max-width: 580px;
    min-height: 350px;
    max-height: 450px;
}

#box-login form h2 {
    margin-bottom: 10%;
    color: var(--color-main-darker);
}

#box-login form input {
    width: 75%;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid var(--color-main-darker);
    padding: 10px;
    margin: 1% 0;
    color: var(--color-main-darker);
}

#box-login form input[type='submit'] {
    text-transform: capitalize;
    background-color: var(--color-main-darker);
    color: var(--color-white);
    margin: 0;
    margin-top: 8%;
    transition: 0.2s;
}

#box-login form input[type='submit']:hover {
    transition: 0.2s;
    background-color: var(--color-main3);
    color: var(--color-main-darker);
    cursor: pointer;
}

#button-close {
    margin-top: 20px;
    color: var(--color-main-darker);
}

#button-close:hover {
    text-decoration: underline;
    cursor: pointer;
}

#login-failed {
    color: #a21d00;
    font-size: small;
    margin: 2px;
}

/*Login popup*/
#box-popup-login {
    position: fixed;
    z-index: 15;
    top: 70px;
    left: -300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5dc05e;
    border-radius: 3px;
    padding: 8px 18px;
    transition: all 0.5s ease-in-out;
}

#box-popup-login p {
    color: black;
    text-align: center;
}

#box-popup-login span {
    margin-right: 10px;
    color: var(--color-main-darker);
}

#box-popup-login.show {
    left: 20px;
}

/*Footer*/
footer {
    position: absolute;
    width: 100vw;
    height: 40px;
    top: calc(100vh - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 7;
    
}

footer p {
    font-size: small;
    color: var(--color-white);
    margin-right: 50px;
}


/*Background animation*/ 
#dot-box {
    z-index: 4;
    display: block;
    position: absolute;
}