:root {
    --color-blck: #050505;
    --color-secondary: #c0392b;
    --color-main: #17202a;
    --color-main2: #e0e5e9;
    --color-main3: #c2d2e2;
    --color-white: #EEEEEE;
    --color-white2: #E0E0E0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "JetBrains Mono",monospace;
    list-style: none;
    color: var(--color-black);
    text-decoration: none;
    border: none;
    background: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: var(--color-white);
}

strong {
    color: var(--color-main);
}

.box-separator-vert {
    height: 66px;
    width: 1px;
    background-color: var(--color-main);
    margin: 0 5%;
}

.box-separator-hori {
    height: 2px;
    width: 50%;
    border-radius: 50%;
    background-color: var(--color-main);
}

button, input[type='submit'] {
    box-sizing: content-box;
}

.blur {
    filter: blur(4px);
}