:root {
    --color-blck: #050505;
    --color-secondary: #c0392b;
    --color-main: #17202a;
    --color-main-darker: #0E1721;
    --color-main2: #e0e5e9;
    --color-main3: #c2d2e2;
    --color-white: #EEEEEE;
    --color-white2: #E0E0E0;
    --color-white3: #DCDCDC;
    --border-radius: 3px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "JetBrains Mono", monospace;
    font-weight: normal;
    list-style: none;
    color: var(--color-black);
    text-decoration: none;
    border: none;
    background: none;
    -webkit-user-select: none;
    user-select: none;
}

strong {
    font-weight: bold;
}

button, input[type='submit'] {
    box-sizing: content-box;
}

.blur {
    filter: blur(4px);
}

.text-animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fade-in-bottom {
    animation-name: fade-in-bottom;
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    } to {
        opacity: 1;
    }
}